@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/** ---------------------- GENERAL ---------------------- **/

html {
  min-height: 100%;
}

body {
  background: linear-gradient(to bottom right, #3a3838, #393838);
  color: #f7f5f5;
  font-size: 1em;
  font-family: "Roboto Mono", monospace;
  background-attachment: fixed;
  margin-left: 0.5rem;
  margin-right: 1rem;
}

.container {
  margin-left: 0rem;
  margin-top: 1rem;
}

/** ---------------------- NAVBAR ---------------------- **/

.navbar {
  z-index: 1;
  background: #6e6c6c;
  margin-left: -2rem;
  margin-right: -2rem;
  border-image: linear-gradient(
    to right,
    #477553,
    #648097
  );
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  border-bottom: 5px solid;
  border-image-slice: 1;
  width: 150%;
  height: 4.2em;
}

.navbar-expand {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row nowrap;
  -webkit-box-pack: start;
  justify-content: flex-start;
}

.nav-item {
  margin-left: 2em;
  vertical-align: bottom;
}

.nav-link {
  font-family: "Roboto Mono", monospace;
  font-size: 1.75vw;
  font-weight: bold;
  color: #fbfbfb;
  text-shadow: 0px 0px 0px #d9d6d6;
  letter-spacing: 0.15em;
  margin-top: 0.5em;
}

.nav-link:hover {
  color: #c3c1c1;
}

img.logo {
  margin-top: 0.4em;
  max-height: 4vw;
}

.todo {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 5px;
  border-width: 2px;
  border-style: solid;
}

.checked {
  border-color: rgba(255, 241, 92, 0.982);
}

